.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;

    h1 {
        margin-bottom: 0.5rem;
    }

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.primary {
    font-weight: var(--fw-medium);
    color: var(--gray-70);
}

.secondary {
    font-size: 0.875rem;
    line-height: 1;
    color: var(--gray-70);
}

.children {
    margin-top: 1rem;
}
