.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background-color: transparent;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
        background-color: #f8f8f8;
    }
}

.buttonSelected {
    font-weight: 600;
    background-color: #e5f8e6;
    color: #2c7500;
    cursor: default;

    &:hover {
        background-color: #e5f8e6;
    }
}
