.container {
    label {
        display: block;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0.5rem;

        &[data-variant="sm"] {
            font-size: 0.875rem;
            margin-bottom: 0.5rem;
        }
    }

    textarea {
        width: 100%;
        font-family: inherit;
        font-size: 1rem;
        line-height: 1.4;
        color: #000;
        border: 1px solid var(--c-neutral-400);
        border-radius: var(--radius-l);
        padding: var(--space-m) var(--space-s);

        &:focus {
            border: 1px solid var(--c-active);
        }

        &[data-variant="sm"] {
            font-size: 0.875rem;
            border-radius: var(--radius-m);
        }
    }
}
