.container {
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 0;

    @media (min-width: 740px) {
        flex-direction: row;
        align-items: center;
    }
}

.credit {
    display: flex;
    gap: 1rem;
    flex: 1;
    font-size: 0.875rem;
}

.id {
    width: 60px;

    @media (min-width: 740px) {
        display: flex;
        align-items: center;
    }
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 740px) {
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }
}

.names {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    input {
        font-size: 0.875rem;
        padding: 0.5rem;
    }

    @media (min-width: 740px) {
        flex-direction: row;
        align-items: center;
        width: 320px;
    }
}

.name {
    @media (min-width: 740px) {
        flex: 1;
    }
}

.originalName {
    @media (min-width: 740px) {
        flex: 1;
    }
}

.action {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.75rem;
    margin-top: 0.75rem;

    @media (min-width: 740px) {
        flex: 1;
        flex-direction: row;
        align-items: center;
        margin-top: 0;
    }
}
