.container {
    padding-bottom: 5rem;
}

.subHeader {
    input {
        width: 100%;
        border: 1px solid var(--gray-20);
        border-radius: 0.5rem;
        padding: 0.75rem;
        margin-top: 0.5rem;
    }
}

.subTop {
    display: flex;
    justify-content: space-between;
}

.list {
    display: flex;
    flex-direction: column;
}

.showList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin-top: 1rem;

    @media (min-width: 640px) {
        grid-template-columns: repeat(6, 1fr);
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(8, 1fr);
    }
}
