.auth {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.header {
    width: 100%;
    margin-bottom: 3rem;

    h1 {
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: capitalize;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 0.9375rem;
        line-height: 1.5;
        letter-spacing: 0.5px;
        color: var(--gray-90);
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    button {
        margin-top: 0.5rem;
    }
}
