.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    z-index: 1002;
}

.barContainer {
    width: 100%;
    height: 64px;
}

.bar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #fff;
    display: flex;
    width: 100%;
    height: inherit;
    padding: 0.5rem 1rem;

    input {
        width: 100%;
        border: none;
        font-size: 1rem;
        padding: 0.5rem;
    }

    button {
        font-size: 0.875rem;
        font-weight: 500;
        background-color: transparent;
        border: none;
        color: var(--gray-100);
        cursor: pointer;
    }

    @media (min-width: 768px) {
        input {
            &:focus {
                outline: none;
            }
        }
    }
}

.viewContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 1rem 1rem 5rem;
}
