.search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border: none;
        width: 100%;
        max-width: 500px;
        height: 40px;
        background-color: var(--gray-2);
        border-radius: 2.5rem;
        padding: 0 1rem;
        transition: background-color 0.3s ease;
        cursor: pointer;

        &:hover {
            background-color: var(--gray-5);
        }
    }

    span {
        display: inline-block;
    }
}

.label {
    color: var(--gray-50);
}
