.container {
    label {
        display: block;
        font-size: 1rem;
        font-weight: 600;
        color: var(--c-neutral-900);
        margin-bottom: 0.75rem;

        &[data-variant="sm"] {
            font-size: 0.875rem;
            margin-bottom: 0.5rem;
        }
    }

    input {
        width: 100%;
        height: 56px;
        font-size: 1rem;
        color: #000;
        border: 1px solid var(--c-neutral-400);
        border-radius: var(--radius-l);
        padding: 0 var(--space-s);

        &:focus {
            border: 1px solid var(--c-active);
        }

        &[data-variant="sm"] {
            height: 48px;
            font-size: 0.875rem;
            border-radius: var(--radius-m);
        }
    }
}
