.label {
    display: block;
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    @media (min-width: 740px) {
        flex-direction: row;
        gap: 0.5rem;
    }
}

.option {
    display: flex;
    cursor: pointer;

    label {
        font-size: 0.875rem;
        margin-left: 0.25rem;
        cursor: pointer;
    }

    input {
        cursor: pointer;
    }
}
