.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 15px;
    font-weight: 400;
    color: var(--gray-90);
    background-color: var(--gray-5);
    border-radius: 0.35rem;
    padding: 0.35rem 0.5rem;
    cursor: pointer;

    span {
        margin-left: 0.25rem;
    }

    &:hover {
        background-color: var(--gray-10);
    }

    &:disabled {
        background-color: #888888;
        cursor: not-allowed;
    }

    &[data-variant="primary"] {
        display: flex;
        justify-content: center;
        font-weight: 600;
        background-color: var(--gray-90);
        color: #fff;
        padding: 0.75rem;
    }
}
