.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 56px;
    font-size: 1rem;
    line-height: 1;
    font-weight: 700;
    background-color: var(--c-moonshadow);
    color: var(--c-moonshadow-tint);
    border-radius: var(--radius-l);
    padding: 0 1.25rem;
    transition: background-color 0.2s ease;
    cursor: pointer;

    &:hover {
        background-color: var(--c-moonshadow-hover);
    }

    &:focus {
        outline: 4px solid var(--c-moonshadow-disabled);
    }

    &:focus:not(:focus-visible) {
        outline: none;
    }

    &:active {
        background-color: var(--c-moonshadow-pressed);
    }

    &:disabled {
        background-color: var(--c-moonshadow-disabled);
        cursor: not-allowed;
    }

    &[data-variant="primary"] {
        &:hover {
            background-color: var(--c-moonshadow-hover);
        }

        &:focus {
            outline: 4px solid var(--c-moonshadow-disabled);
        }

        &:focus:not(:focus-visible) {
            outline: none;
        }

        &:active {
            background-color: var(--c-moonshadow-pressed);
        }

        &:disabled {
            background-color: var(--c-moonshadow-disabled);
            cursor: not-allowed;
        }
    }

    &[data-variant="secondary"] {
        background-color: var(--c-moonshadow-tint);
        color: var(--c-moonshadow);

        &:hover {
            background-color: var(--c-moonshadow-tint-hover);
        }

        &:focus {
            outline: 4px solid var(--c-moonshadow-tint-hover);
        }

        &:focus:not(:focus-visible) {
            outline: none;
        }

        &:active {
            background-color: var(--c-moonshadow-tint-pressed);
        }

        &:disabled {
            background-color: var(--c-moonshadow-tint-disabled);
            cursor: not-allowed;
        }
    }

    &[data-variant="tertiary"] {
        position: relative;
        background-color: transparent;
        color: var(--c-moonshadow);

        &:after {
            content: "";
            position: absolute;
            left: 1.25rem;
            right: 1.25rem;
            height: 1px;
            bottom: 1rem;
            background-color: var(--c-moonshadow);
            opacity: 0;
            transition: opacity 0.2s ease;
        }

        &:hover {
            &:after {
                opacity: 1;
            }
        }

        &:focus {
            outline: 4px solid var(--c-moonshadow-tint-hover);
        }

        &:focus:not(:focus-visible) {
            outline: none;
        }

        &:active {
            color: var(--c-moonshadow-pressed);
        }

        &:disabled {
            color: var(--c-moonshadow-disabled);
            cursor: not-allowed;
        }
    }

    &[data-size="sm"] {
        height: 48px;
        font-size: 0.875rem;
        border-radius: var(--radius-m);
    }

    &[data-width="full"] {
        width: 100%;
    }
}
