.container {
    max-width: 900px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 0;

    @media (min-width: 740px) {
        flex-direction: row;
    }
}

.keyword {
    display: flex;

    gap: 1rem;
    flex: 1;
    font-size: 0.875rem;
}

.id {
    width: 40px;
}

.main {
    display: flex;
    flex-direction: column;

    gap: 0.35rem;
    width: 100%;

    @media (min-width: 740px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.names {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;

    div:first-of-type {
        width: 300px;
    }

    @media (min-width: 740px) {
        flex-direction: row;
    }
}

.action {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    > div {
        flex: 1;
    }

    input {
        font-size: 0.875rem;
    }
}
