.list {
    display: flex;
    flex-direction: column;

    a {
        padding: 0.35rem 0;
    }
}

.listHeader {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
