.button {
    display: inline-flex;
    align-items: center;
    border: none;
    font-weight: 600;
    background-color: var(--gray-5);
    color: var(--gray-90);
    border-radius: 2rem;
    padding: 0.5rem 1.25rem 0.5rem 1rem;
    cursor: pointer;

    span {
        margin-left: 0.25rem;
    }

    &:hover {
        background-color: var(--gray-10);
    }

    &:disabled {
        background-color: #888888;
        cursor: not-allowed;
    }
}
