.button {
    display: inline-flex;
    align-items: center;
    border: none;
    height: 56px;
    font-size: 1rem;
    line-height: 1;
    font-weight: 700;
    background-color: var(--c-moonshadow-tint);
    color: var(--c-moonshadow);
    border-radius: 0.875rem;
    padding: 0 1.25rem 0 1rem;
    white-space: nowrap;
    transition: background-color 0.2s ease;
    cursor: pointer;

    span {
        margin-left: 0.25rem;
    }

    &:hover {
        background-color: var(--c-moonshadow-tint-hover);
    }

    &:focus {
        outline: 4px solid var(--gray-20);
    }

    &:focus:not(:focus-visible) {
        outline: none;
    }

    &:active {
        background-color: var(--c-moonshadow-tint-pressed);
    }

    &:disabled {
        background-color: var(--c-moonshadow-tint-disabled);
        cursor: not-allowed;
    }
}
