.section {
    border-bottom: 1px solid var(--gray-10);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.sectionTitle {
    margin-bottom: 1.5rem;

    h2 {
        font-size: 1rem;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

.display {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--gray-2);
    border-radius: 0.75rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 0.75rem;
}

.content {
    font-size: 0.875rem;
}

.input {
    width: 100%;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    border: 1px solid #e8e8e8;
    border-radius: 0.375rem;
}

.suggestedList {
    padding-top: 1rem;

    p {
        font-size: 0.875rem;
        font-weight: 600;
    }
}

.credit {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.item {
    font-size: 0.875rem;
    padding: 0.25rem 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    div {
        flex: 1;
    }
}

.buttonContainer {
    margin-top: 1.5rem;
}
