.header {
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid var(--gray-5);
    padding: 1rem 0;
    z-index: var(--z-header);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    height: 100%;
    padding: 0 var(--px-mobile);
    margin: 0 auto;

    @media (min-width: 768px) {
        padding-left: var(--px-tablet);
        padding-right: var(--px-tablet);
    }

    @media (min-width: 1024px) {
        padding-left: var(--px-tablet-l);
        padding-right: var(--px-tablet-l);
    }
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: var(--jasmine);
    border-radius: 50%;
}

.userContainer {
    position: relative;
}

.avatarContainer {
    display: none;

    @media (min-width: 1024px) {
        display: flex;
        position: relative;
        justify-content: flex-end;
    }
}

.flyout {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%) scale(0);
    transform-origin: top center;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    overflow: hidden;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    padding: 1rem;
}

.flyoutOpen {
    transform: translateX(-50%) scale(1);
    opacity: 1;
}

.hamburger {
    @media (min-width: 1024px) {
        display: none;
    }
}

.buttonElement {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--gray-2);
    border-radius: 100%;
    border: none;
    width: 30px;
    height: 30px;
    z-index: 1;
    cursor: pointer;

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 8px;
        width: 14px;
        height: 1px;
        background-color: var(--gray-50);
        z-index: 1;
        transition: all 0.3s ease;
    }

    &::before {
        opacity: 1;
        transform: translateY(-3px);
    }

    &::after {
        opacity: 1;
        transform: translateY(3px);
    }

    &.open {
        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    &:hover {
        background-color: var(--gray-5);
    }
}

.menuContent {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    opacity: 0;
    margin-top: 56px;
    padding-top: 2rem;
    transform: translateX(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 40;

    li {
        padding: 0.75rem 0;
    }
}

.open {
    opacity: 1;
    transform: translateX(0);
}
